{
  "root": true,
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "ignorePatterns": ["node_modules", "dist", "static", "gulpfile.js", "jest.config.js", "main.js", "vsdebug.js"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "script"
  },
  "rules": {
    "eqeqeq": "error",
    "no-undef": "error",
    "no-unused-vars": "off",
    "no-process-exit": "off",
    "node/no-missing-require": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"]
      "env": {
        "jest": true
      },
      "rules": {
        "node/no-unpublished-require": "off"
      }
    }
  ]
}
