{
  "root": true,
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "ignorePatterns": ["node_modules", "dist", "jest.config.js", "main.js", "vsjest.js", "typings"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "script"
  },
  "globals": {
    "$": "readonly",
    "Buffer": "readonly",
    "ace": "readonly",
    "after": "readonly",
    "afterEach": "readonly",
    "before": "readonly",
    "beforeEach": "readonly",
    "clearImmediate": "readonly",
    "console": "readonly",
    "describe": "readonly",
    "exports": "readonly",
    "global": "readonly",
    "it": "readonly",
    "module": "readonly",
    "phantom": "readonly",
    "process": "readonly",
    "queueMicrotask": "readonly",
    "require": "readonly",
    "setImmediate": "readonly",
    "__dirname": "readonly",
    "__filename": "readonly"
  },
  "rules": {
    "eqeqeq": "error",
    "no-undef": "error",
    "no-unused-vars": "off",
    "no-process-exit": "off",
    "node/no-missing-require": "off"
  }
}
