# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
bin
data
dist
dist-ssr
env
obj
coverage
desktop.ini
dump.rdb
*.local
*.un~
.tsbuildinfo
.tsbuildinfo.*

*.min.*.js
*.min.*.css
assets.json
package-lock.json
static/upload/*

# Editor directories and files
.vs
.vscode
.idea
*.suo
*.ntvs*
*.sw?
*.swp
*.sublime-project
*.sublime-workspace

!lib/**/*

2-dontupload/**/*
!1-mustupload/**/*
!2-dontupload/.gitkeep
