<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta name="referrer" content="always">
  <meta name="keywords" content="<%= config.keywords %>"/>
  <meta name='description' content='<%= config.description %>'>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="icon" href="/static/favicon.ico">
  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>
  <!-- CSS -->
  <% if (!config.debug) { %>
    <link rel="stylesheet" href="<%= config.site_static_host %>/static/css/index.min.css">
  <% } else { %>
    <link rel="stylesheet" href="<%= config.site_static_host %>/static/libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="<%= config.site_static_host %>/static/css/common.css">
    <link rel="stylesheet" href="<%= config.site_static_host %>/static/css/responsive.css">
    <link rel="stylesheet" href="<%= config.site_static_host %>/static/css/jquery.atwho.css">
    <link rel="stylesheet" href="<%= config.site_static_host %>/static/libs/editor/editor.css">
    <link rel="stylesheet" href="<%= config.site_static_host %>/static/libs/code-prettify/prettify.css">
    <link rel="stylesheet" href="<%= config.site_static_host %>/static/libs/font-awesome/css/font-awesome.css">

    <link rel="stylesheet/less" href="<%= config.site_static_host %>/static/css/style.less">
    <script src="<%= config.site_static_host %>/static/libs/less.min.js"></script>
  <% } %>
  
  <!-- JS -->
  <% if (!config.debug) { %>
    <script src="<%= config.site_static_host %>/static/index.min.js"></script>
  <% } else { %>
    <script src="<%= config.site_static_host %>/static/libs/jquery-2.1.0.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/lodash.compat.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/jquery-ujs.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/bootstrap/js/bootstrap.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/jquery.caret.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/jquery.atwho.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/markdownit.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/code-prettify/prettify.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/wallet/okx.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/wallet/unisat.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/wallet/xverse.js"></script>
    <script src="<%= config.site_static_host %>/static/libs/wallet/wallet.js"></script>
    <script src="<%= config.site_static_host %>/static/js/main.js"></script>
    <script src="<%= config.site_static_host %>/static/js/wallet.js"></script>
    <script src="<%= config.site_static_host %>/static/js/responsive.js"></script>
  <% } %>

  <% if (typeof(topic) !== 'undefined') { %>
  <title><%= topic.title %> - <%= config.bbsname %></title>
  <% } else if (typeof(pageTitle) !== 'undefined') { %>
  <title><%= pageTitle %> - <%= config.bbsname %></title>
  <% } else { %>
  <title><%= config.description %></title>
  <% } %>
  <meta content="_csrf" name="csrf-param">
  <meta content="<%= csrf %>" name="csrf-token">
</head>
<body>
<!-- navbar -->
<div class='navbar'>
  <div class='navbar-inner'>
    <div class='container'>
      <a class='brand' href='/'>
        <% if (config.bbslogo) {%>
          <img src="<%- staticFile(config.bbslogo) %>" style="width: 45px; height:45px; margin-top: -5px;"/>
        <%} else {%>
          <%- config.bbsname %>
        <%}%>
      </a>

      <form id='search_form' class='navbar-search' action="/search">
        <input type='text' id='q' name='q' class='search-query span3' value=''/>
      </form>
      <ul class='nav pull-right'>
        <li><a href='/'>Home</a></li>
        <% if (current_user){ %>
        <li>
            <a href='/my/messages'>
              <% if (current_user.messages_count) { %>
                <span class='big messages_count'><%= current_user.messages_count %></span>
              <% } %>
              Message 
            </a>
        </li>
        <% } %>
        <%
        var site_navs = config.site_navs || [];
        for (var i = 0, l = site_navs.length; i < l; i++) {
        var nav = site_navs[i];
        %>
        <li><a href="<%- nav[0] %>" target="<%- nav[2] %>"><%- nav[1] %></a></li>
        <% } %>
        <% if (current_user) { %>
        <li><a href='/setting'>Setting</a></li>
        <li>
          <a href='/signout' data-method="post" rel="nofollow">Logout</a>
        </li>
        <% } else { %>
        <!--<li><a href='/signup'>注册</a></li>-->
        <!--<li><a href='/wallet_signin'>登录</a></li>-->
        <li>
          <div id="connect-container">
            <span id="connect-wallet">
              Connect Wallet
            </span>
            <span id="connect-dropbox" label="Choose Wallet">
              <span onclick="wallet_login('UniSat')">UniSat</span>
              <span onclick="wallet_login('Xverse')">Xverse</span>
            </span>
          </div>
        </li>
        <% } %>
      </ul>
      <a class="btn btn-navbar" id="responsive-sidebar-trigger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
  </div>
</div>
<div id='main'>
  <%- body %>
</div>
<div id='backtotop'>Back Top</div>
<div id='footer'>
  <div id='footer_main'>
    <div class="links">
      <a class='dark' href='/rss'>RSS</a>
      |
      <a class='dark' href='https://github.com/bitsoul_xyz/bitbbs/'>Github</a>
    </div>
    <div class='col_fade'>
      <p>Open BBS based on Bitcoin and Bitsoul</p>
    </div>
  </div>
</div>
<div id="sidebar-mask"></div>

<% if (config.google_tracker_id) { %>
<script>
  // google analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script', "<%- proxy('https://www.google-analytics.com/analytics.js') %>",'ga');

  ga('create', '<%-config.google_tracker_id%>', 'auto');
  ga('send', 'pageview');
</script>
<% } %>

<% if (config.cnzz_tracker_id) { %>
<div style="display:none;">
  <script src="//s95.cnzz.com/z_stat.php?id=<%- config.cnzz_tracker_id %>&web_id=<%- config.cnzz_tracker_id %>" language="JavaScript"></script>
</div>
<% } %>

</body>
</html>
