<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>About</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### About

BitBBS is an Open BBS based on Bitcoin and Bitsoul.

### FAQ

A: What is BitBBS relationship with BitSoul and BrcSoul?
Q: BitSoul is the brand, BrcSoul is DeSocial protocol based on Bitcoin, BitBBS is a product based on BrcSoul protocol.

*/
        })) %>
      </div>
    </div>
  </div>
</div>
