<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown Syntax Reference</span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>### Single line title</tt></li>
        <li><tt>**Bold**</tt></li>
        <li><tt>`console.log('Inline code')`</tt></li>
        <li><tt>```js\n code \n```</tt> to mark a code block</li>
        <li><tt>[Content](Link)</tt></li>
        <li><tt>![Text description](Image link)</tt></li>
      </ol>
      <span><a href='https://segmentfault.com/markdown' target='_blank'>Markdown Documentation</a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Topic Publishing Guidelines</span>
    </div>
    <div class='inner'>
      <ol>
        <li>Try to condense the main points of the topic into the title</li>
        <li>For code meaning and errors, you can ask on <a href="http://segmentfault.com/t/node.js">SegmentFault</a></li>
      </ol>
    </div>
  </div>

</div>
