<div id="sidebar">
  <div class="panel">
    <div class="header">
      <span class="col_fade">Topic Publishing Guidelines</span>
    </div>
    <div class="inner">
      <ol>
        <li>Try to condense the main points of the topic into the title.</li>
      </ol>
    </div>
  </div>

  <div class="panel">
    <div class="header">
      <span class="col_fade">Markdown Syntax Reference</span>
    </div>
    <div class="inner">
      <table style="border-collapse: collapse; width: 100%; font-family: sans-serif;">
        <thead>
          <tr>
            <th style="text-align: left;">Feature</th>
            <th style="text-align: left;">Syntax</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Heading</td>
            <td># Heading 1<br>## Heading 2<br>### Heading 3</td>
          </tr>
          <tr>
            <td>Italic</td>
            <td>*italic text*</td>
          </tr>
          <tr>
            <td>Bold</td>
            <td>**bold text**</td>
          </tr>
          <tr>
            <td>Blockquote</td>
            <td>&gt; This is a quote</td>
          </tr>
          <tr>
            <td>Unordered List</td>
            <td>- Item one<br>- Item two</td>
          </tr>
          <tr>
            <td>Ordered List</td>
            <td>1. First item<br>2. Second item</td>
          </tr>
          <tr>
            <td>Horizontal Rule</td>
            <td>---</td>
          </tr>
        </tbody>
      </table>
      <span><a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">👉 Markdown Documentation Link</a></span>
    </div>
  </div>

</div>
