<%- include('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>Advance user</li>
      </ul>
    </div>
    <div class='inner'>
      <% if(typeof(advances) !== 'undefined' && advances.length > 0){ %>
      <% advances.forEach(function(user){ %>
        <%- include('../user/user',{user: user}) %>
      <% }); %>
      <% }else{ %>
      <p>No advance user</p>
      <% } %>
    </div>
  </div>
</div>
