<li>
  <div>
    <i class="fa fa-star"></i>
    <a class='dark advance_name' href="/user/<%= user._id %>"><%= user.name %></a>
    <span class='col_fade'><%= user.follower_count %> Follower</span>
    <span class='col_fade'><%= user.following_count %> Following</span>
  </div>
</li>
